/*Resume*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #f52582;
    --text-color: #727171
}
html {
    font-size: 10px;
}
body{
    font-family: Poppins, sans-serif;
    background-color: black;
    color: white;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item_preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* layouts */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: black;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.group-1,
.group-2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.group-3 {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.group-3 > div {
    flex: 1;
}
@media only screen and (max-width: 768px) {
    .profile {
        margin-bottom: 0;
    }
    .group-3 {
        flex-direction: column;
    }
}

/* profile */
.profile_container {
    display: flex;
    gap: 10rem;
}
.profile_profileImg {
    max-width: 450px;
}
.profile_name_firstName {
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastName {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
.profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadBtn {
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.downloadBtn:hover {
    color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

/* Expertise */
.skills_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Ref  */
.ref_item {
    margin-top: 2rem;
}
.ref_name {
    font-size: 1.6rem;
    font-weight: 700;
}

/* eduction */
.edu_item {
    margin-top: 2rem;
}

/* certification */
.certification_item {
    margin-top: 2rem;
}
/* exp */
.exp_item {
    margin-top: 2rem;
}

/* awards */
.awards_item {
    margin-top: 2rem;
}
/* Interests */
.interest_items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
.interest_item svg {
    width: 2rem;
}

/* socials */
.social_items {
    margin-top: 2rem;
}
.social_item {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}
.social_item:hover {
    color: var(--primary-color);
}
.social_item svg {
    width: 2rem;
}

hr {
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
    hr {
        margin: 0 auto;
    }
}
/*resume end*/

body{
    font-family: Poppins, sans-serif
}

nav{
    position: absolute;
    top: -10px;
    right: -40px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

nav img{
    width: 300px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 70px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links {
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 10;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*--------Travel----------*/

.travel{
    width: 90%;
    margin: auto;
    text-align:center;
    padding-top: 100px;

}



.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;


}
.happy{
    flex-basis:31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s
}

.happy:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.places{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;
}

.places-col{

    flex-basis: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

}
.places-col img{
    width:100%;
    height:100%;
    display: block;
}

.layer{
    background: transparent;
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0px;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(167, 210, 241, 0.44);
}
.layer h3{
    width: 90%;
    font-weight:500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.footer{
    width:100%;
    text-align:center;
    padding: 30px 0;


}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.icon .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color: #f44336;
}


.nostalgia{
    width: 90%;
    margin: auto;
    text-align:center;
    padding-top: 100px;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.NewLogo {
    width: 300px;
    height: 300px;
    transition: transform 0.3s, opacity 0.3s;
}

/* Apply hover animation */
.NewLogo:hover {
    transform: scale(1.2); /* Scale up to 120% on hover */
    opacity: 0.8; /* Reduce opacity on hover */
}

canvas{
    position:fixed;
    top: 0;
    left: 0;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.parallaxgallery {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 9.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
}

.parallaxproject
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 16.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}
.parallaxfuture
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 15.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.parallaxresume
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 11.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}
.parallaxcontact
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 7.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.parallaxhome
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 14.webp")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 2;
}


.desc{
    background: black;
    padding: 50px;


}
.quote{
    font-size: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    line-height: 100px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.BFname{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    line-height: 100px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    padding-left: 70%;
}
.hero-text{
    font-size: 100px;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    margin-top: 20px;
    z-index: 3;

}
.hero-text-home{
    font-size: 100px;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 8%;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    margin-top: 20px;
    z-index: 3;

}
.overlay-image {

    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the entire container */
    opacity: 100%; /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay image is behind other content */
}
