*{
      margin:0;
      padding:0;
  }
body{
    font-family: sans-serif;



}



.header{
    min-height: 100vh;
    width: 100%;
    background-image:
            linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/taranaki.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


}
nav{
    position: absolute;
    top: -10px;
    right: -40px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;


}
nav img{
    width: 300px;
}


.nav-links{
    flex:1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;

}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;



}

.text-box {
    width: 90%;
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;


}
.text-box h1 {
    font-size: 62px;

}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.click-box{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position:relative;
    cursor: pointer;

}

.click-box:hover{
    border:1px solid #f44336;
    transition: 1s;
}
nav .fa{
    display:none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 70px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links {
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*--------Travel----------*/

.travel{
    width: 90%;
    margin: auto;
    text-align:center;
    padding-top: 100px;

}
h1{
    font-size:40px;
    font-weight:600;

}
p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;


}
.happy{
    flex-basis:31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.happy:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.places{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;
}

.places-col{

    flex-basis: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

}
.places-col img{
    width:100%;
    height:100%;
    display: block;
}

.layer{
    background: transparent;
    width:100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0px;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(167, 210, 241, 0.44);
}
.layer h3{
    width: 90%;
    font-weight:500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.footer{
    width:100%;
    text-align:center;
    padding: 30px 0;


}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.icon .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

}
.fa-heart-o{
    color: #f44336;
}


.nostalgia{
    width: 90%;
    margin: auto;
    text-align:center;
    padding-top: 100px;

}

h2{
    font-size:32px;
    font-weight:600;

}

.resumeheader{
    min-height: 100vh;
    width: 100%;
    background-image:
            linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/rotorua.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.resumetext-box {
    width: 90%;
    color:  #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;


}
.resumetext-box h1 {
    font-size: 62px;

}

.resume{
    padding: 50px;
    width: 90%;
    margin: auto;
    text-align:center;
    padding-top: 80px;

}

.resume h1{
    font-size:32px;
    font-weight:600;
    padding-bottom: 30px;

}

.container {

    width:560px;
    height:315px;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.ngramfor154{
    height: 20%;
    width: 20px;

}

.TAcolumn {
    float: left;
    width: 45%;
    padding: 5px;
    padding-left: 25px;


}

.TArow {
    content: "";
    display: table;
    clear: both;
    text-align:center;
    margin: 50px;

}

.mrcolumn {
    float: left;
    width: 45%;
    padding: 20px;



}

.mrrow {
    content: "";
    display: table;
    margin-left: 17%;

}

.ngram{
    margin: 50px;
}

.TAP {
    text-align:center;
    margin: 50px;
    font-size: 20pt;
    color: #000;
}


.links {
    text-align:center;
}




.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.NewLogo {
    width: 300px;
    height: 300px;
    transition: transform 0.3s, opacity 0.3s;
}

/* Apply hover animation */
.NewLogo:hover {
    transform: scale(1.2); /* Scale up to 120% on hover */
    opacity: 0.8; /* Reduce opacity on hover */
}

canvas{
    position:fixed;
    top: 0;
    left: 0;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.parallax {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 1.webp")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.parallaxproject
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 2.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}
.parallaxfuture
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 3.jpg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.parallaxresume
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 4.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}
.parallaxcontact
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 7.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.parallaxhome
{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("image/gradient 6.jpeg")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: sans-serif;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
}


.desc{
    background: black;
    padding: 50px;
    color: white;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 20px;
}
.hero-text{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    margin-top: 20px;

}
